.githubImg {
	height: 20;
	width: auto;
}

.card-list {
	position: fixed;
	bottom: 50px;
	left: 5px;
    padding: 10rem;
    height: 300px;

}

.searchbar {
	float: right;
}

.card {
	box-shadow: -1rem 0 2.2rem #123;
	height: 100px;
    width: 150px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;

}

.card:not(:first-child) {
    margin-top: -30px;
}


.card:hover{
	transform: translateX(75px);
}
.card-header{
	color: white;
}

#cs130a, #cs131a, #phil103a, #pubh50a{
	font-size: 10px;
}
